:root {
    --primary: #079211;
    --white: #FFFFFF;
    --lightGray: #D1D5DB;
    --gray: #808080;
    --deepGray:#0A0A0F;
    --lightDark: #313131;
    --dark: #101017;
    --deepDark:050507;
    }